.item:nth-child(1) .cover {
    background-image: url('../img/Jewish-Museum.jpg');
}

.item:nth-child(2) .cover {
    background-image: url('../img/Expired-Shapes.jpg');
}

.item:nth-child(3) .cover {
    background-image: url('../img/Paper-Hot-Cup-Mock-Up-Vol2.jpg');
}

.item:nth-child(4) .cover {
    background-image: url('../img/Hipster-Wizard.jpg');
}

.item:nth-child(5) .cover {
    background-image: url('../img/Perspective-App-Screen-Presentation.jpg');
}

.item:nth-child(6) .cover {
    background-image: url('../img/Paper-Hot-Cup-Mock-Up.png');
}

.item:nth-child(7) .cover {
    background-image: url('../img/Creative_Business_Card.jpg');
}

.item:nth-child(8) .cover {
    background-image: url('../img/Mikkolagerstedt_Detour.jpg');
}

.item:nth-child(9) .cover {
    background-image: url('../img/Trivalent-Brand-Identity.png');
}

.item:nth-child(10) .cover {
    background-image: url('../img/Reacciónes.jpg');
}

.item:nth-child(11) .cover {
    background-image: url('../img/Game-Changers.png');
}

.item:nth-child(12) .cover {
    background-image: url('../img/Twin-Peaks-Tribute-Character-Design.jpg');
}

.item:nth-child(13) .cover {
    background-image: url('../img/Didelis-web2.jpg');
}

.item:nth-child(14) .cover {
    background-image: url('../img/London-Market-illustrated.jpg');
}

.item:nth-child(15) .cover {
    background-image: url('../img/Short-Film-Poster-Design.jpg');
}

.item:nth-child(16) .cover {
    background-image: url('../img/BS001-400x400.jpg');
}

.item:nth-child(17) .cover {
    background-image: url('../img/Tracks.jpg');
}