.social-menu {
    position: fixed;
    bottom: calcRem(20px);
    right: calcRem(20px);
    display: none;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
    }
}

.social-toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #333333;
    font-size: calcRem(24px);
    line-height: calcRem(60px);
    text-align: center;
    z-index: 12;
    
    .bar1 {
        position: absolute;
        top: 29px;
        left: 20px;
        background: #fff;
        width: 10px;
        height: 2px;
        @include transition(transform 0.3s ease-in);
    }
    
    .bar2 {
        position: absolute;
        top: 20px;
        left: 29px;
        background: #fff;
        width: 2px;
        height: 20px;
    }
    
    .bar3 {
        position: absolute;
        top: 29px;
        left: 30px;
        background: #fff;
        width: 10px;
        height: 2px;
        @include transition(transform 0.3s ease-in);
    }
}

.social-menu:hover .social-toggle {
    .bar1 {
        transform: translate(2px, -8px) rotate(-45deg);
    }

    .bar3 {
        transform: translate(-2px, -8px) rotate(45deg);
    }
}

.social-container {
    visibility: hidden;
    height: 0;
    width: 0;
    background: #333333;
    transform: translateX(30px);
    opacity: 0;
    z-index: -1;
    @include transition(transform 0.5s ease-in-out, opacity 0.5s ease-in-out);
    
    a {
        display: inline-block;
        margin: calcRem(12px) calcRem(5px);
        width: 36px;
        height: 36px;
        font-size: calcRem(16px);
        line-height: calcRem(36px);
        text-align: center;
        
        &:nth-child(1) {
            margin-left: calcRem(10px);
            
            &:hover {
                background: #3b5998;
            }
        }
        
        &:nth-child(2):hover {background: #00acee;}
        &:nth-child(3):hover {background: #db4a39;}    
        &:nth-child(4):hover {background: #c8232c;}    
        &:nth-child(5):hover {background: #4c75a3;}    
        &:nth-child(6):hover {background: #0e76a8;}    
    }
}

.social-menu:hover .social-container {
    visibility: visible;
    height: 60px;
    width: auto;
    opacity: 1;
    z-index: 11;
    transform: translateX(0px);
}